/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */

/** Greenpeace-inspired color theme **/
:root {
  /** primary - Greenpeace green **/
  --ion-color-primary: #00A652;
  --ion-color-primary-rgb: 0, 166, 82;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #005A2D;
  --ion-color-primary-tint: #1aaf63;

  /** secondary - lighter green **/
  --ion-color-secondary: #00D95F;
  --ion-color-secondary-rgb: 0, 217, 95;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0, 0, 0;
  --ion-color-secondary-shade: #00c054;
  --ion-color-secondary-tint: #1add6f;

  /** tertiary - forest green **/
  --ion-color-tertiary: #007A3D;
  --ion-color-tertiary-rgb: 0, 122, 61;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #006b36;
  --ion-color-tertiary-tint: #1a8750;

  /** success - uses primary green **/
  --ion-color-success: var(--ion-color-primary);
  --ion-color-success-rgb: var(--ion-color-primary-rgb);
  --ion-color-success-contrast: var(--ion-color-primary-contrast);
  --ion-color-success-contrast-rgb: var(--ion-color-primary-contrast-rgb);
  --ion-color-success-shade: var(--ion-color-primary-shade);
  --ion-color-success-tint: var(--ion-color-primary-tint);
}
